/* Yummy overview page */
body{
    --yummyButtonColor: #353e8c;
    --yummyButtonHoverColor: #454e96;
    --yummyButtonTextColor: #ffffff;
    --yummyContainerPadding: 15px;
    --yummyContainerColor: #f7f7f7;
    --yummyBorderRadius: 15px;
    --yummyContainerMargin: 3%;
}
.yummyRestaurant{
    display:flex;
    margin-top: var(--yummyContainerMargin);
    background-color: var(--yummyContainerColor);
    border-radius: var(--yummyBorderRadius);
    padding: var(--yummyContainerPadding);
}
.yummyImageContainer{
    display: flex;
    width: 40%;
    padding: var(--yummyContainerPadding);
}
.yummyImage{
    width: 100%;
    height: 15em;
    object-fit: cover;
}
.yummyContentContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: var(--yummyContainerPadding);
   
}
.detailButton{
    background-color: var(--yummyButtonColor);
    color: var(--yummyButtonTextColor);
    align-self: flex-end;
}
.detailButton:hover{
    background-color: var(--yummyButtonHoverColor);
    color: var(--yummyButtonTextColor);
}
.buttonContainer{
    display: flex;
    align-self: flex-end;
    height: 100%;
    margin: 1rem;
}
